[submodule "Other/OpenGL.Net"]
	path = Other/OpenGL.Net
	url = https://github.com/xezno/OpenGL.Net
[submodule "Other/stbi-sharp"]
	path = Other/stbi-sharp
	url = https://github.com/xezno/stbi-sharp
[submodule "Tools/RSSEQ-VSCode-Highlighting"]
	path = Tools/RSSEQ-VSCode-Highlighting
	url = https://github.com/ThemeParkWorld/RSSEQ-VSCode-Highlighting
[submodule "Tools/WADView"]
	path = Tools/WADView
	url = https://github.com/ThemeParkWorld/WADView
[submodule "Tools/RSSEQCompiler"]
	path = Tools/RSSEQCompiler
	url = https://github.com/ThemeParkWorld/RSSEQCompiler
